.container {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 270px;
    height: 420px;
    margin-inline: auto;
    border-radius: 10px;
}


.container img {
    margin-top: 10px;
    width: 250px;
    border-radius: 10px;
}

.container p {
    font-size: 0.938rem;
    margin-left: 0.938rem;
    margin-right: 0.938rem;
    text-align: center;
    color: hsl(220, 15%, 55%);
}

.container h1 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-left: 0.938rem;
    margin-right: 0.938rem;
    text-align: center;
    color: hsl(218, 44%, 22%);
}

body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
}
